<h1> Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- To introduce Jupyternotebook interface and features
- To familiarise with different language that data scientist uses
- To familiarise with different libraries that data scientist uses
- To perform arithmetic functions

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Javascript

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scipy
4. Matplotlib
5. TensorFlow

| Data Science Tools  | 
|---|
| Git |
| MySQL |
| Spark |

<h3>Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [1]:
#This will convert 200 minutes to hours by diving by 60
hrs = 200/60
hrs

3.3333333333333335

## Author
Andrew chia